<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>

      <!--Added Redirect rule to prevent access to azurewebsites default domain-->
      <!--<rewrite>
        <rules>
          <rule name="Redirect rquests to default azure websites domain" stopProcessing="true">
            <match url="(.*)" />
            <conditions logicalGrouping="MatchAny">
              <add input="{HTTP_HOST}" pattern="^dev\MEU_SITE\.azurewebsites\.net$" />
            </conditions>
            <action type="Redirect" url="https://URL_HERE.xom.cloud/{R:0}" />
          </rule>
        </rules>
      </rewrite>-->

      <!--<handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\templateIHD.WebAPI.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />-->
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 127366F8-C0FC-43E7-BAFE-2304F8875BE2-->